<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container">
        <h1>Calcolatore scale</h1>
        <div id="app-scale">
            <div class="form-group">
                <label for="form_dislivello">Dislivello [cm]</label>
                <select v-model="selected" id="form_dislivello" class="form-control">
                    <option v-for="dislivello in dislivelli" v-bind:value="dislivello.valore">
                        {{ dislivello.valore }} cm
                    </option>
                </select>
            </div>
            <p>
                <span>Selezionato: {{ selected }}</span>
            </p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>

        var valori_dislivello = function () {
            let valori = [];

            valori.push({ valore: 200 });
            valori.push({ valore: 220 });
            valori.push({ valore: 230 });

            return valori;
        }

        var app4 = new Vue({
            el: '#app-scale',
            data: {
                selected: 0,
                dislivelli: this.valori_dislivello(),
            },
            created() {
                if (this.dislivelli) {
                    this.selected = (valori_dislivello())[0].valore
                }
            }
        })
    </script>
</body>

</html>